<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CV</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>David Vallejo | Estudiante de Desarrollo de Software</h1>
    <p>Soy estudiante de la Escuela Politécnica Nacional estudiando la carrera de Tecnología
      en Desarrollo de Software, actualmente cursando 4to Semestre de mi carrera en busca
      de oportunidades para realizar mis Pasantías/Prácticas Profesionales para mejorar
      mis habilidades como programador dentro del campo laboral</p>
      <img src="../../assets/CV.jpeg" alt="CV_DavidVallejo" style="width: 240px; height: 240px;">
      <h2>Informacion Personal</h2>
      <p>
        Correo: alejodavicho8gmail.com <br>
        Telefono: 0984922077 <br>
        Github: DavidPK8
      </p>
      <h2>Experiencia Laboral</h2>
      <p>
        Trabajo en puntonet apoyando en soluciones corporativas en el cual mi trabajo se desempeña en desarrollar el funcionamiento de varias páginas web
        tanto en el front como en el back además de proporcionas ideas para mejorar el funcionamiento de las páginas web.
      </p>
      <h2>Habilidades</h2>
      <ul>
        <li>Java</li>
        <li>Python</li>
        <li>React</li>
        <li>Typescrypt</li>
        <li>Angular</li>
        <li>Springboot</li>
      </ul>
      <h2>Formación Académica</h2>
      <p>Unidad Educativa Manuela Cañizares 2014 - 2020</p>
      <p>Escuela Politecnica Nacional 2021 - Actualidad</p>
  </div>

</ion-content>
