<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CV 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>David Vallejo | Estudiante de Desarrollo de Software</h1>
    <img src="../../assets/icon/CV.jpeg" alt="CV_DavidVallejo">
    <h2>Sobre mi</h2>
    <p>Estudiante de la carrera de Tecnología en Desarrollo de
      Software en la Escuela Politécnica Nacional, actualmente
      cursando 4to Semestre de mi carrera en busca de
      oportunidades laborales que me proporcionen crecimiento
      tanto personal como profesional. Soy una persona
      responsable con una gran disposición por aprender nuevas
      cosas a diario.</p>
  </div>

</ion-content>