<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>Herramientas</h1>
    <ul>
      <li>Python</li>
      <li>Java</li>
      <li>C++</li>
      <li>Html</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Angular</li>
      <li>Typescript</li>
      <li>React</li>
      <li>SQL</li>
    </ul>
  </div>
</ion-content>
